/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

body { 
    padding-top: 80px;
}