<!--
<div class="background" [@fadeIn]="fadeIn">
<section class="intro">
<div class="inner">
<div class="content">
<h1 class="title">SHAWARMANIA & ROLLS</h1>
<a class="_btn menu-go" routerLink="/menu">Revisa nuestro menú</a>
</div>
</div>
</section>
</div>
-->

<div id="sushi-background" [@fadeIn]="fadeIn">
  <div align="center">
    <div>
      <div style="padding-bottom: 120px;"></div>
      <img [src]="'assets/carta-01.jpg'" width="890" height="972" />
      <img [src]="'assets/carta-02.jpg'" width="890" height="1114" />
      <img [src]="'assets/carta-03.jpg'" width="890" height="2968" />
      <div style="padding-bottom: 120px;"></div>
    </div>
  </div>
</div>
